.lead__image-info {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .lead__image-info {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image-info {
        margin-left: 0;
    }
}