.cover__background-text {
    position: absolute;
    max-width: 360px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
}