@media screen and (min-width: 320px) {
    .cover__item-text {
        position: relative;
        max-width: 288px;
        z-index: 3;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) {
    .cover__item-text {
        position: relative;
        max-width: 360px;
        z-index: 3;
    }
}