@media screen and (min-width: 320px) {
    .lead {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 64px;
        min-height: 406px;
    }
}

@media screen and (min-width: 768px) {
    .lead {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 88px;
        min-height: 862px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 92px;
        min-height: 962px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 92px;
        min-height: 1005px;
    }
}