.places__card-header {
    margin-left: 16px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .places__card-header {
        margin: 0;
        align-items: flex-end;
        margin-bottom: 48px;
    }
}