@media screen and (min-width: 320px) and (max-width: 767px) {
    .places__card-header {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .places__card-header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .places__card-header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .places__card-header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 48px;
    }
}