.page__button {
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

.page__button:hover {
    text-decoration: underline;
}