.intro__text {
    max-width: 288px;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (min-width: 1028px) {
    .intro__text {
        max-width: 690px;
    }
}